header{
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 3vw;

}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px;
    
}

ul>li:hover{
    color: red;
    cursor: pointer;
}

nav{
    height: 20%;
    width: 50vw;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1px;
}

.BigImage{
    width: 95vw;
    margin: 1rem;
    position: relative;
}

.Container{
    display: flex;
    margin-top: 5em;
}

.Container>div{
    text-align: center;
}

.Container>div>p{
    font-size: x-large;
    line-height: 1.5rem;
    margin: 2rem;
   /* font-family: 'Courier New', Courier, monospace; */
}

footer{
    background-color: black;
    width: 100%vw;
    margin: 10px;
    position: relative;
    padding: 5px; 
    color: white;
    text-align: center;
    font-size: x-small;

}